@model Lyrics.Models.lyricsTable




<div class="row">

    <div class="col-lg-12">
        <div class="bs-component">
            <h2>@Model.lyric_title</h2>

            <article class="text-justify">@Model.main_lyrics</article>


        </div>

    </div>



</div>